In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
filepath = '../data/Apple-Twitter-Sentiment-DFE.csv'
df = pd.read_csv(filepath, encoding='iso-8859-1')
df.head().T

,0,1,2,3,4
_unit_id,623495513,623495514,623495515,623495516,623495517
_golden,True,True,True,True,False
_unit_state,golden,golden,golden,golden,finalized
_trusted_judgments,10,12,10,17,3
_last_judgment_at,NaN,NaN,NaN,NaN,12/12/14 12:14
sentiment,3,3,3,3,3
sentiment:confidence,0.6264,0.8129,1,0.5848,0.6474
date,Mon Dec 01 19:30:03 +0000 2014,Mon Dec 01 19:43:51 +0000 2014,Mon Dec 01 19:50:28 +0000 2014,Mon Dec 01 20:26:34 +0000 2014,Mon Dec 01 20:29:33 +0000 2014
id,5.4e+17,5.4e+17,5.4e+17,5.4e+17,5.4e+17
query,#AAPL OR @Apple,#AAPL OR @Apple,#AAPL OR @Apple,#AAPL OR @Apple,#AAPL OR @Apple
sentiment_gold,3\nnot_relevant,3\n1,3,3\n1,NaN
text,#AAPL:The 10 best Steve Jobs emails ever...htt...,RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...,My cat only chews @apple cords. Such an #Apple...,I agree with @jimcramer that the #IndividualIn...,Nobody expects the Spanish Inquisition #AAPL

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3886 entries, 0 to 3885
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   _unit_id              3886 non-null   int64
 1   _golden               3886 non-null   bool
 2   _unit_state           3886 non-null   object
 3   _trusted_judgments    3886 non-null   int64
 4   _last_judgment_at     3783 non-null   object
 5   sentiment             3886 non-null   object
 6   sentiment:confidence  3886 non-null   float64
 7   date                  3886 non-null   object
 8   id                    3886 non-null   float64
 9   query                 3886 non-null   object
 10  sentiment_gold        103 non-null    object
 11  text                  3886 non-null   object
dtypes: bool(1), float64(2), int64(2), object(7)
memory usage: 337.9+ KB